*{
    margin: 0;
    padding: 0;
    font-family: 'Dosis', sans-serif;
}

html{
    scroll-behavior: smooth;
}


::-webkit-scrollbar {
    width: 10px;
    background: #000;
}

::-webkit-scrollbar-track {
    background: #000;
}

::-webkit-scrollbar-thumb {
    background: #00C2CB;
    border-radius: 30px;
}
